.result
  %h2.year-month　2020年7月
  %dl.result__income
    %dt 収入合計
    %dd 280,000円
  %dl.result__expend
    %dt 支出合計
    %dd 250,000円
  %dl.result__balance
    %dt 残高
    %dd 30,000円
.result
  %h2.year-month 2020年6月
  %dl.result__income
    %dt 収入合計
    %dd 200,000円
  %dl.result__expend
    %dt 支出合計
    %dd 220,000円
  %dl.result__balance
    %dt 残高
    %dd.minus -20,000円
.result
  %h2.year-month 2020年5月
  %dl.result__income
    %dt 収入合計
    %dd 300,000円
  %dl.result__expend
    %dt 支出合計
    %dd 250,000円
  %dl.result__balance
    %dt 残高
    %dd 50,000円
.copy
  Household Accounts